.sidebarCntr {
    background-image : url('../../../assets/images/backgrounds/blackTransparentBg.png');
    background-repeat: repeat;
    width: 100%;
    min-height: 545px;
    margin-top: 15px;
    h2{
        color: var(--heroes-blue)
    }
}