<div id="app" class="d-flex flex-column h-100">

  <!-- <ng-container *ngIf="auth.isLoading$ | async; else loaded"> -->
  <ng-container>
    <div class="container-fluid h-100">

      <app-header></app-header>

      <!-- <app-spinner [show]="true"></app-spinner> -->
      <div class="routerCntr">
        <router-outlet></router-outlet>

      </div>

      <app-footer></app-footer>

    </div>

  </ng-container>

  <ng-template #loaded>

    <app-header></app-header>
    <!-- 
    <app-nav-bar [mobile_open]="mobile_open" (trigger_menu)="mobile_open = $event;"></app-nav-bar>

    <app-menu-bar [mobile_open]="mobile_open" (trigger_menu)="mobile_open = !$event;"></app-menu-bar> -->

    <div class="routerCntr">

      <router-outlet></router-outlet>

    </div>

    <app-footer></app-footer>

  </ng-template>

  <!--TODO: SPINNER DA GESTIRE TRAMITE INTERCEPTOR -->
  <!-- <app-spinner></app-spinner> -->

</div>