<div class="homeCntr container-fluid">

  <!-- <div class="col-sm-12 col-lg-4 homeBox" id="homeBox1">
    <a [routerLink]="['', 'heroes']">
      <div class="homeImage">
      </div>
    </a>
  </div>

  <div class="col-sm-12 col-lg-4 homeBox" id="homeBox2">
    <a [routerLink]="['', 'magic']">
      <div class="homeImage">
      </div>
    </a>
  </div>

  <div class="col-sm-12 col-lg-4 homeBox" id="homeBox3">
    <a [routerLink]="['', 'lol']">
      <div class="homeImage">
      </div>
    </a>
  </div> -->

  Working in progress<br>
  Coming soon


  

<app-pie-chart-op></app-pie-chart-op>


</div>