::ng-deep .mat-toolbar.heroes {
    background-image: url('../../../../assets/images/backgrounds/blueTransparentBg.png');
}

::ng-deep .mat-toolbar.magic {
    background-image: url('../../../../assets/images/backgrounds/orangeTransparentBg.png');
}

::ng-deep .mat-toolbar.lol {
    background-image: url('../../../../assets/images/backgrounds/goldTransparentBg.png');
}