<div class="footerCntr container-fluid">
  <!-- <div class="row"> -->
  <div class="col-sm-12 col-md-12">

    <div class="col-sm-12 col-md-2 offset-md-2 footerBox">
      <h2 class="footerTitle">UNISCITI AL NOSTRO TEAM</h2>
      <div class="footerText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      <div class="footerLink"><a href="mailto:info@join-elo.it">info&#64;colosseum.it</a></div>
    </div>

    <div class="col-sm-12 col-md-2 offset-md-1 footerBox">
      <h2 class="footerTitle">I NOSTRI PARTNER</h2>
      <div class="footerText"></div>
    </div>

    <div class="col-sm-12 col-md-2 offset-md-1 footerBox">
      <h2 class="footerTitle">CONTATTI</h2>
      <div class="footerText">Per qualsiasi domanda inviaci una mail o contattaci sui nostri social!</div>
      <div class="footerLink"><a href="mailto:info@join-elo.it">info&#64;colosseum.it</a></div>
      <div class="footerSocialsCntr">
<!--        <div class="footerSocials">-->
<!--          <a mat-button href="https://facebook.com/" target="_blank">-->
<!--            <fa-icon [icon]="faFacebook"></fa-icon>-->
<!--          </a>-->
<!--          <a mat-button href="https://www.instagram.com/colosseum_optcg" target="_blank">-->
<!--            <fa-icon [icon]="faInstagram"></fa-icon>-->
<!--          </a>-->
<!--          <a mat-button href="" target="_blank">-->
<!--            <fa-icon [icon]="faYoutube"></fa-icon>-->
<!--          </a>-->
<!--          <a mat-button href="https://www.twitch.tv/kryos_twitch" target="_blank">-->
<!--            <fa-icon [icon]="faTwitch"></fa-icon>-->
<!--          </a>-->
<!--          <a mat-button href="https://discord.gg/Sb6u4QGHmN" target="_blank">-->
<!--            <fa-icon [icon]="faDiscord"></fa-icon>-->
<!--          </a>-->
<!--        </div>-->
      </div>
    </div>


    <div class="col-sm-12 col-md-10 offset-md-2 copyright">
      &copy; Colosseum Card Games Italia 2024 - p.iva 123456789 - privacy policy - cookie policy
    </div>

  </div>
  <!-- </div> -->
</div>
